<div class ="container">
<p>掲示板</p>
<form method="POST" action="<?php print($_SERVER['PHP_SELF']) ?>">
<input type="text" name="personal_name"><br><br>
<textarea name="contents" rows="8" cols="40">
</textarea><br><br>
<input type="submit" name="btn1" value="投稿する">
</form>
</div>

<div class ="post_list">
<div class="post_list_title">投稿一覧</div>
  <% @posts.each do |post|%>
    <div class ="post_list_card">
      <div class="card_title">
        <%= post.name %>
        <p1>投稿日</p1>
        <p2>投稿時間</p2>
      </div>
      <div class="card_title_info">
        <%= post.content %>
      </div>
      <div class="image_post_icon">
      </div>
      <div class="post_edit_ button "><%= link_to '編集', edit_post_path(post.id) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>