.container
  %p 掲示板
  %form{:action => "<?php print($_SERVER['PHP_SELF']) ?>", :method => "POST"}
    %input{:name => "personal_name", :type => "text"}/
    %br/
    %br/
    %textarea{:cols => "40", :name => "contents", :rows => "8"}
      :preserve
        
    %br/
    %br/
    %input{:name => "btn1", :type => "submit", :value => "投稿する"}/
.post_list
  .post_list_title 投稿一覧
  - @posts.each do |post|
    .post_list_card
      .card_title
        = post.name
        %p1 投稿日
        %p2 投稿時間
      .card_title_info
        = post.content
      .image_post_icon
      .post_edit_.button
        = link_to '編集', edit_post_path(post.id)
