.container
  %p 掲示板
  %form{:action => "<?php print($_SERVER['PHP_SELF']) ?>", :method => "POST"}
    %input{:name => "personal_name", :type => "text"}/
    %br/
    %br/
    %textarea{:cols => "40", :name => "contents", :rows => "8"}
      :preserve
        
    %br/
    %br/
    %input{:name => "btn1", :type => "submit", :value => "投稿する"}/
%section
  %h2 投稿一覧
  %p 投稿はまだありません
