<div class ="post_list">
<div class="post_list_title">投稿した記事</div>
  <div class ="post_list_card">
    <div class="card_title">
      <%= @post.name %>
    </div>
    <div class="card_title_info2">
    <%= @post.content %>
    </div> 

    <% if @post.images.attached? %>
      <%= image_tag @post.images %>
    <% end %>
    <div class="post_home_back_to_button "><%= link_to 'ホームへ戻る', posts_path(@post) %>
    </div>
  </div>
  </div>
  </div>