<div class ="post_list">
<div class="post_list_title">投稿一覧</div>
<% @posts.each do |post|%>
  <div class ="post_list_card">
    <div class="card_title">
      <%= post.name %>
    </div>
  <div class ="post_list_card">
    <div class="card_title">
      <%= @post.name %>
    </div>
    <div class="card_title_info">
      <p>投稿日</p>
      <p>投稿時間</p>
    </div>
    <div class="card_title_info">
       <%= post.content %>
    </div>
  </div>
  <% end %>
</div>
</div>

