<div class ="post_list">
<div class="post_list_title">投稿一覧</div>
  <div class ="post_list_card">
    <div class="card_title">
      <%= @post.name %>
    </div>
    <div class="card_title_info2">
    <%= @post.content %>
    </div> 
    <div class="post_delete_button "><%= link_to '削除', posts_path(@post), method: :delete %>
    </div>
  </div>
  </div>
  </div>