.btn-secondary {
    background-color: white;
    border: solid 1px;
    width: 100px;
    text-align: center;
    color: blue;
    padding: 16px 0;
    font-weight: bold;
    position: relative;
    top:50px;
    left:-166px;
  }