// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post_list_title{
    margin-top:30px;
    margin-left:160px;
    font-size:20px;
}


.post_list_card{
    margin-top:30px;
}


.card_title p1{
    margin-left:0px;
    top:100px;
    padding-left:5px;
}

.card_title p2{
    margin-left:0px;
    top:100px;
    padding-left:5px;
}

.card_title_info{
    margin-left:40px;
}

.post_list_card{
border: 2px solid;
height:200px;
width:500px;
}

.post_edit_ button a{
}