// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post_list_title{
    margin-top:30px;
    margin-left:160px;
    font-size:20px;
}


.post_list_card{
    margin-top:60px;
}

.post_like_heart img{
    position: relative;
    top:0px;
    left:340px;
}


.card_title p1{
    margin-left:0px;
    top:100px;
    padding-left:5px;
    text-decoration: none;
}

.card_title p2{
    margin-left:0px;
    top:100px;
    padding-left:5px;
}

.card_title_info{
    margin-left:40px;
}

.post_list_card{
border: 2px solid;
height:140px;
width:500px;
a{
    text-decoration: none;
    color:black;
}
}

.post_edit_ button a{
}


.post_new_image_view img{
    width:70px;
    position: relative;
    padding-left:400px;
    top:-90px;
}

.post_new{
    text-decoration: none;
    margin-left:375px;
    top:100px;
}
.button_to input{
    background-color: blue;
    color:white;
}