// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post_list_title{
    margin-top:30px;
    margin-left:160px;
    font-size:20px;
}


.post_list_card{
    margin-top:60px;
    
}

.post_like_heart img{
    position: relative;
    top:-30px;
    left:340px;
}

.card_title_detail_date {

   position: relative;
    top:60px;
    left:100px;
}

.card_title p1{
    margin-left:0px;
    top:100px;
    padding-left:5px;
    text-decoration: none;
}

.card_title p2{
    margin-left:0px;
    top:100px;
    padding-left:5px;
}

.card_title_info{
    margin-left:40px;
    position: relative;
    top:-50px;
}
.image_post_icon{
    position: relative;
    top:-40px;
    left:10px
}


.post_list_card{
border: 2px solid;
height:140px;
position: fixed;
width:500px;
a{
    text-decoration: none;
    color:black;
}
}

.post_edit_ button a{
}


.post_new_image_view img{
    width:70px;
    position: relative;
    padding-left:400px;
    top:-90px;
}

.post_new{
    text-decoration: none;
    margin-left:375px;
    top:100px;
}
.button_to input{
    background-color: blue;
    color:white;
}

.card_title_post{
    position: absolute;
    top:260px;
    left:20px;
}
.card_title_info2_post{
    position: absolute;
    top:280px;
    left:20px;
}

.dropdown1 img{
    position: absolute;
    top:260px;
    left:410px;
}
.dropdown1-content {
    font-weight: normal;
    display: none;
    right: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 
    &.mini{
        min-width: 100px;
        position: relative;
    }
  }
 
  .dropdown1-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
 
  .dropdown1-content a:hover {
    background-color: white;
  }
 
  .dropdown1:hover .dropdown-content {
    display: block;
  }

  .dropdown-content.mini{
      position:relative;
      left:400px;
      top:-110px;
      width:50px;
  }

  .post_list_top {

      position: absolute;
      left:160px;
      top:400px;

}
.post_comment{
    margin-top:10px;
    border: 2px solid;
    height:140px;
    width:500px;
    position: fixed;
    left:-150px;
    background-color: white;
    p4{
        position: absolute;
        top:0px;
        left:0px;
        color: black;
    }
}


 
