
.dropdown {
    position: relative;
    display: inline-block;
    left:380px;
    top:-50px;
img{
    width:100px;
    height:100px;
}
  }
 
  .dropdown-content {
    font-weight: normal;
    display: none;
    right: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    &.mini{
        min-width: 100px;
    }
  }
 
  .dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
 
  .dropdown-content a:hover {
    background-color: white;
  }
 
  .dropdown:hover .dropdown-content {
    display: block;
  }

  $image_size: 56px;

 .profilePage {
   margin-top: 24px;

   &_user {
     display: flex;

     &_image {
       display: flex;
       flex-direction: column;
       justify-content: center;

       img {
         width: $image_size;
         height: $image_size;
       }
     }

     &_basicInfo {
       margin-left: 16px;
     }

     &_actionButton {
       display: flex;
       flex-direction: column;
       justify-content: center;
       font-size: 12px;
       border-radius: 4px;
       border: 1px solid blue;
       font-weight: bold;
       padding: 0px 8px;

       a {
         color: blue;
       }
     }

     &_name {
       display: flex;
       margin-bottom: 8px;
     }

     &_displayName {
       font-size: 18px;
       font-weight: bold;
       margin-right: 8px;
     }

     &_introduction {
       font-size: 12px;
     }
   }
 }
 .profilePage {
    margin-top: 24px;
 
    &_user {
      margin-bottom: 32px;
      display: flex;
 
      &_image {
        display: flex;
        flex-direction: column;
        justify-content: center;
 
        img {
          width: $image_size;
          height: $image_size;
        }
      }
 
      &_basicInfo {
        margin-left: 16px;
      }
 
      &_actionButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        border-radius: 4px;
        border: 1px solid ;
        font-weight: bold;
        padding: 0px 8px;
 

      }
 
      &_name {
        display: flex;
        margin-bottom: 8px;
      }
 
      &_displayName {
        font-size: 18px;
        font-weight: bold;
        margin-right: 8px;
      }
 
      &_introduction {
        font-size: 12px;
      }
    }
}